
footer{
    background: var(--cl-black);
    color: var(--cl-white);
    padding: 20px 70px 0;
    bottom: 0;
    font-size: 1.2rem;
    width: 100%;
    margin: 0;
}
footer .row{
    justify-content: center;
}
footer .col{
    margin: 0 20px 20px 0px;
}
footer input{
    display: block;
    background-color: transparent;
    border: 1px solid rgb(168, 166, 166);
    margin: 2px 0 10px;
}
.footer-contact{
    margin: 30px 0;
}
footer li{
    margin: 10px 0;
}
footer .link-contact{
    display: block;
    margin: 10px 0;
    color: #fff;
}
footer i{
    color: #fff;
    font-size: 1.7rem;
    margin: 5px;
}
header{
    left: 0;
    right: 0;
    top:0;
    background: var(--cl-black);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:  10px 5px;
    align-items: center;
    position: fixed;
    z-index: 9;
}

section{
    text-align: center;
    max-width: 1200px;
    margin-top:120px ;
    margin-left: auto ;
    margin-right: auto ;
    overflow: hidden;
    margin-bottom: 50px  ;
}

.banner{
   box-sizing: border-box;
   display: block;
}
.banner-wrap{
    display: block;
    position: relative;
    box-sizing: border-box;
}

.head-logo__img{
    max-width: 200px;
    max-height: 100px;
}

.head-nav__item{
    position: relative;
    color: var(--cl-white);
    margin: 0 50px;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}
.head-nav__item::after{
    position: absolute;
    content: "";
    background-color: var(--cl-orange);
    transition:  0.2s ease-in; 
    top:100%;
    left: 0;
    height: 3px;
    width: 0;
}
.head-nav__item:hover::after{ 
    width: 100%;
}

.banner_img{
    position: relative;
    z-index: 2;
    width: 50%;
}
.banner_img img{
    max-width: 100%;
}
.banner_border{
    z-index: 0;
    top:10%;
    right: 0;
    position: absolute;
    width: 70%;
    height: 100%;
    border: 4px var(--cl-red) solid;
}

.banner-content-head{
    font-family: utm_scriptina-font;
    text-align: center;
    position: absolute;
    width: 35%;
    background-color: #fff;
    top:10%;
    right: 15%;
    font-size: 2.5rem;
    z-index: 2;
    box-sizing: border-box;
    color: var(--cl-title);
    font-weight: 800;
}
.banner-content-body{
    color: var(--cl-text);
    text-align: justify;
    top:20%;
    right: 8%;
    font-size: 1.4rem;
    line-height: 2rem;
    position: absolute;
    box-sizing: border-box;
    width: 40%;
    background-color: #fff;
}   
.banner-content--btn{
    cursor: grab;
    margin-top: 20px ;
    display: block;
}
/* Content */
    /* Promotion */

.home-content{
    margin: 100px 0;
}
.home-title{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--cl-red);
    padding: 30px 0;
}
.row-service{
  
}

.service-item{
    position: relative;
    padding: 5px 0;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(207, 201, 201);
    overflow: hidden;
  /*  box-shadow: #555 2px ; */ 
}
.service-item--booking{
    top:65%;
    right: -100px;
    position: absolute;
    visibility: hidden;
    transition: 0.2s ease-in;
}
.service-item:hover{
    border: 1px solid var(--cl-red);
}
.service-item:hover .service-item--booking{
    right: 5%;
    visibility: visible;
    
}
.img-wrap{
    box-sizing: content-box;
    overflow: hidden;
    border-radius:4px ;
}
.service-item__img{
    max-width: 100%;
    max-height: 100%;
    transition: transform .2s;
    display: inline-block;
}
.service-item__img:hover{
    transform: scale(1.1);
}
.service-item__title{
    text-align: left;
    max-width: 100%;
    font-size: 1.4rem;
    margin: 10px 0;
}
.service-item__descr{
    text-align: left;
    max-width: 100%;
    text-align: justify;
    font-size: 1.4rem;
}
/* Dịch vụ hot */
.hot-service{
    padding-bottom: 20px;
    color: var(--cl-white);
    margin: 100px 0;
    background-image: url(../imgs/img_web/background-row.jpg);
}
/* Đặc lịch hẹn*/
.book{
    background-image: url(../imgs/img_web/background-row2.png);
    margin: 100px 0;
    padding: 50px;
}

.book-form{
    margin: auto auto;
    padding-bottom: 20px;
    max-width: 37%;
    background-color:rgba(0, 0, 0, 0.27);
}

.book-form .home-title, fieldset:last-child {
    text-align: center;
}

.book-field{
    margin: 30px;
}

.book-item-input {
    background:none;
    padding: 10px 5px;
    width: 100%;
    outline: unset;
    color: #fff;
    border: 1px solid #cacaca;
    font-size: 1.4rem;
    line-height: 1.4rem;
}
.btn-input {
    text-transform: uppercase;
    outline: unset;
    padding: 10px 25px;
    font-size: 1.4rem;
    border-radius: 4px ;
    color: #444;
    border: #fff solid 1px;
    cursor: pointer;
}
.btn-input:hover{
    opacity: 0.7;
}
.book-field ::placeholder {
    color:  #fff;
  }
  /* Máp */
.map {
    width: 100%;
}

/* Login form */
.login{
   padding: 100px 0 ;
  position: relative;

}
.login-head{
    font-size: 3rem;
    color: var(--cl-black);
    margin: 0 0 20px;
}
.login:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../imgs/img_web/background-login.jfif);
    width: 100%;
    height: 100%;
    filter: blur(10px);
    background-size: contain;
    z-index: -1;
} 
.login-form{
    margin: auto auto;
    padding-bottom: 30px;
    max-width: 37%;
    background-color:rgba(0, 0, 0, 0.4); 
  
}
.login-option{
    margin: -20px 30px 30px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}


.head-nav__item::before{
    display: block;
    z-index: 9;
    content:"";
    width: 200px;
    height: 20px;
    position: absolute;
    top: 100%;
    right: -50%;
}

.head-nav__item:hover .sub-nav{
    display: block;
}
.sub-nav{
    min-width: 100px;
    width:max-content;
    min-height: 100px;
    display: none;
    background-color: #fff;
    padding: 10px;
    color: rgb(3, 3, 3);
    right: -50%;
    top: calc(100% + 5px);
    font-size: 1.3rem;
    position: absolute;
    box-shadow: 0  1px 2px rgb(190, 183, 183);
    border-radius:2px ;
}
.sub-nav-item{
    color: black;
    margin: 20px 0;
}
.sub-nav-item-link{
    color: black;
   
}
.service-item__descr{
    display: block;
display: -webkit-box;
max-width: 100%;
margin: 0 auto;
font-size: 14px;
line-height: 1;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}


